@using Microsoft.AspNetCore.Mvc.Localization
@using EZCode.CustomerService.Localization
@inject IHtmlLocalizer<CustomerServiceResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
